html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #57574b;
  color: rgb(44, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}


.main {
  background-color: #F8F8F8;
  border-radius: 3px;
  width: 624px;
  margin: 20px;
  padding: 40px;
}

.user {
  display: flex;
  align-items: flex-start;
}

.user__avatar {
  margin-right: 28px;
}

.user__info {
  margin-bottom: 20px
}

.user__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.user__position {
  font-size: 18px;
  color: #444;
  font-style: italic;
  margin: 0;
}

.user__descripton {
  font-size: 16px;
  line-height: 1.2em;
  margin: 0; 
}

.user__descripton--margin {
  margin-bottom: 20px0; 
}

.special {
  color: crimson;
  font-weight: normal;
}

.flex { 
  min-height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  align-items: baseline;
 } 

 .flex__item {
  padding: 20px;
  background: rosybrown;
  border: 1px solid yellow;
  width: 400px;
 }

 .flex__item--bigger {
   font-size: 50px;
 }

 .flex__item--centered {
   align-self: center;
 }