html {
  box-sizing: border-box;
}

body {
  background: #CECEBB;
  color: rgb(44, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.main {
  background-color: #F8F8F8;
  border-radius: 2px;
  width: 624px;
  margin: 20px;
}

.flex { 
  min-height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  align-items: baseline;
 } 

 .flex__item {
  padding: 20px;
  background: rosybrown;
  border: 1px solid yellow;
  width: 400px;
 }

 .flex__item--bigger {
   font-size: 50px;
 }

 .flex__item--centered {
   align-self: center;
 }